

.navLinks{
    border: 1px solid;
    display: flex;
    gap: 2em;
    padding: 1em;
}

.isActive{
    text-decoration: none;
    color: red;
}

.notActive{
    text-decoration: none;
    color: black;
}
